@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --medium-aquamarine: #54E6AF;
    --space-cadet: #2c334b;
    --rich-black-fogra: #121725;
    --white: #FFFFFF;
    --dark-blue-gray: #5a668a;
    --placeholder: #c2cbe5;
    /* font family */
    --chivo-light: 'Chivo';
}

body {
    background-color: var(--rich-black-fogra);
}

.pod_logo {
    margin: 4rem 0 0 5rem;
}

h1 {
    color: var(--medium-aquamarine);
    font-family: 'Chivo';
    text-transform: uppercase;
    position: relative;
    top: 3rem;
    left: 2rem;
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
}

.public_box p {
    font-family: 'Chivo';
    color: #C2CBE5;
    position: relative;
    top: 5rem;
    left: 2.2rem;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}

span {
    color: var(--white);
    font-family: var(--chivo-light);
    text-transform: uppercase;
}


.error {
    font-family: var(--chivo-light);
    margin-left: 4rem;
    margin-top: 1rem;
}

.error-message {
    position: relative;
    top: 6rem;
    right: 1rem;
    margin-top: 0.5rem;
}

.pod-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pod-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* pod box styling starts */

.public_box {
    position: absolute;
    background-color: var(--rich-black-fogra);
    width: 723px;
    height: 509px;
    top: 13.2rem;
}

input {
    background-color: var(--space-cadet);
    border-radius: 50px;
    color: var(--white);
    border: none;
    padding: 19px;
    position: relative;
    /* margin: 2rem 0 0 -1.5rem; */
    top: 5.5rem;
    right: 2rem;
    width: 380px;
}

input::placeholder {
    color: var(--placeholder);
    font-weight: 400;
    font-family: var(--chivo-light);
}

.btn-request {
    background-color: var(--medium-aquamarine);
    border: none;
    border-radius: 50px;
    color: var(--rich-black-fogra);
    cursor: pointer;
    font-size: 14px;
    font-family: var(--chivo-light);
    font-weight: 400;
    padding: 16px;
    position: relative;
    top: 5.5rem;
    left: -11rem;
}

.btn-request:hover {
    background-color: #81e4be;
}


.host {
    position: absolute;
    z-index: -2;
    top: 5rem;
    left: 24rem;
    width: 888px;
    height: 640px;
    /* margin: -2.5rem 0 0 24rem; */
}


/* pod logos section */
.pod-images {
    position: relative;
    top: 9rem;
}

.pod-images img {
    margin-left: 2rem;
}

.pattern_dots {
    position: relative;
    top: 34rem;
    left: 65rem;
}

/***************** Tablet ***********************/
@media (max-width: 1023px) {
    html {
        overflow-x: hidden;
    }

    .host {
        position: relative;
        top: -130px;
        width: 70%;
        height: 767px;
    }

    .public_box {
        position: absolute;
        width: 635px;
        height: 509px;
        margin-top: 4rem;
        margin-left: 2rem;
    }

    .public_box p {
        font-size: 18px;
        font-weight: 400;
    }

    .pattern_dots {
        position: relative;
        margin: -23rem 0 0 2.8rem;
    }
}

/****************** Mobile ***********************/
@media (max-width: 768px) {
    html {
        overflow-x: hidden;
    }

    .pod_logo {
        height: 60%;
        width: 30%;
        z-index: 2;
        margin: 4rem 0 0 10rem;
    }

    body {
        background-size: cover;
        background-repeat: no-repeat;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .public_box {
        background-color: rgb(22, 28, 32);
        border: none;
        opacity: 0.5;
        width: 500px;
        height: 697px;
        position: relative;
        top: -12rem;
        right: 3rem;
    }

    .btn-request {
    background-color: var(--medium-aquamarine);
        margin: 2rem 0 0 1rem;
        font-size: 14px;
        width: 87%;
        font-weight: 400;
        position: relative;
        top: 15rem;
        left: 2rem;
    }

    .public_box h1 {
        position: relative;
        top: 9rem;
        font-family: 'Chivo';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 38px;
        text-align: center;
        text-transform: uppercase;
    }

    .public_box p {
        position: relative;
        left: 1.5rem;
        top: 9.5rem;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        text-align: center;
    }

    .pattern_dots {
        display: none;
    }

    input {
        top: 16rem;
        left: 3rem;
        position: relative;
    }

    .pod-images {
        position: relative;
        top: 0.5rem;
        left: -1rem;
    }

    .pod-images img {
        margin-left: 3rem;
        margin-right: -2.4rem;
    }

    .host {
        display: none;
    }

    .error-message {
        margin: -4.5rem 0 0 3rem;
    }
}