@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --medium-aquamarine: #54E6AF;
    --space-cadet: #2c334b;
    --rich-black-fogra: #121725;
    --white: #FFFFFF;
    --dark-blue-gray: #5a668a;
    --placeholder: #c2cbe5;
    /* font family */
    --chivo-light: 'Chivo';
}

body {
    /* position: relative; */
    background-color: var(--rich-black-fogra);
}

.pod_logo {
    position: relative;
    top: 4rem;
    left: 5rem;
    width: 134.85px;
    height: 56px;
}


span {
    color: var(--white);
    font-family: var(--chivo-light);
    text-transform: uppercase;
}


form {
    font-family: var(--chivo-light);
    margin-left: 4rem;
    margin-top: 1rem;
    width: 427px;
    height: 56px;
}

.error-message {
    position: relative;
    top: 3rem;
    right: 1rem;
}

.pod-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pod-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* pod box styling starts */

.public_box {
    position: absolute;
    background-color: var(--rich-black-fogra);
    width: 723px;
    height: 509px;
    top: 13.2rem;
}

.public_box h1 {
    color: var(--medium-aquamarine);
    font-family: 'Chivo';
    text-transform: uppercase;
    position: relative;
    top: 3rem;
    left: 2rem;
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    width: 665px;
    height: 124px;
}

.public_box p {
    font-family: 'Chivo';
    color: #C2CBE5;
    position: relative;
    top: 5rem;
    left: -22.8rem;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    margin: 0 -8rem 0 25rem;
}

input {
    background-color: var(--space-cadet);
    border-radius: 50px;
    color: var(--white);
    border: none;
    padding: 19px;
    position: relative;
    top: 5.5rem;
    right: 2rem;
    width: 380px;
    outline: none;

}

input::placeholder {
    color: var(--placeholder);
    font-size: 14px;
    font-weight: 400;
    font-family: var(--chivo-light);
    mix-blend-mode: normal;
    opacity: 0.5;
}

.btn-request {
    background-color: var(--medium-aquamarine);
    border: none;
    border-radius: 50px;
    color: var(--rich-black-fogra);
    cursor: pointer;
    font-size: 14px;
    font-family: var(--chivo-light);
    font-weight: 400;
    position: relative;
    top: 2.4rem;
    left: 11.4rem;
    width: 162px;
    height: 46px;
}

.btn-request:hover {
    background-color: #81e4be;
}


.host {
    position: absolute;
    z-index: -1;
    top: 5rem;
    left: 24rem;
    width: 888px;
    height: 640px;
}


/* pod logos section */
.pod-images {
    position: relative;
    top: 9rem;
}

.pod-images img {
    margin-left: 2rem;
}

.pattern_dots {
    position: relative;
    top: 38rem;
    left: 65rem;
}

/***************** Tablet ***********************/
@media (max-width: 1023px) {
    html {
        overflow-x: hidden;
        position: relative;
        width: 375px;
        height: 667px;
    }

    .host {
        position: relative;
        top: -130px;
        width: 491px;
        height: 767px;
    }

    .public_box {
        position: absolute;
        width: 635px;
        height: 509px;
        margin-top: 4rem;
        margin-left: 2rem;
    }

    .public_box h1 {
        position: relative;
        font-size: 48px;
        line-height: 56px;
        width: 635px;
        height: 112px;
        font-weight: 300;
    }

    .public_box p {
        position: relative;
        top: 5rem;
        left: -22.8rem;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        font-weight: 400;
        margin: 0 -8rem 0 25rem;
        width: 445px;
        height: 84px;
    }

    .pattern_dots {
        position: relative;
        top: -3rem;
        left: 2rem;
    }

    .error-message{
        position: relative;
        top: 2.5rem;
    }
}

/****************** Mobile ***********************/
@media (max-width: 768px) {
    /* html {
        overflow-x: hidden;
    } */

    .pod_logo {
        position: relative;
        width: 134.85px;
        height: 56px;
        z-index: 2;
        left: 120px;
        top: 70px;
    }


    body {
        width: 375px;
        height: 667px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .public_box {
        background-color: rgb(22, 28, 32);
        border: none;
        opacity: 0.5;
        width: 500px;
        height: 697px;
        position: relative;
        top: -7rem;
        right: 3rem;
    }

    .public_box h1 {
        position: relative;
        top: 11.5rem;
        font-family: 'Chivo';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 38px;
        text-align: center;
        text-transform: uppercase;
        width: 327px;
        height: 76px;
    }

    .public_box p {
        position: relative;
        left: 1.5rem;
        margin: 0 -23rem 0 1rem;
        top: 12.5rem;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        text-align: center;
        width: 327px;
        height: 100px;
    }

    .pattern_dots {
        display: none;
    }

    input {
        top: 18rem;
        left: -1rem;
        position: relative;
        width: 327px;
        height: 46px;
    }

    .btn-request {
        background-color: var(--medium-aquamarine);
        font-size: 14px;
        width: 326px;
        height: 46px;
        font-weight: 400;
        position: relative;
        top: 20rem;
        left: -1rem;
    }

    .pod-images {
        position: relative;
        top: 12rem;
        left: -1rem;
    }

    .pod-images img {
        position: relative;
        bottom: 4rem;
        width: 77px;
        height: 22px;
        margin-left: 3rem;
        margin-right: -2.4rem;
    }

    .host {
        background-color: var(--rich-black-fogra);
        position: relative;
        top: -5rem;
        left: -33rem;
        z-index: -1;
        width: 400px;
        height: 667px;
        opacity: 0.10;
    }

    form {
        width: 327px;
        height: 108px;
    }

    .error-message {
        position: relative;
        top: 15rem;
        left: 0.5rem;
    }
}
